<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="whosHere" data-view="List" data-title="Who's In" style="background-color:#96bf48;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #CPLAERA"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
  </ul>
</div>